body {
    background-color: #ba8d8d;
}

main {
    padding-top: 50px;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}

button {
    background-color: transparent;
    color: #eeeeee80;
    border:0;
    display: inline-block;
    width: 100px;

}